<section id="user-area" class="page-style-a light">
  <header class="center-area-cont">
    <div class="left">
      <span (click)="goBack()" class="btn btn-nav back"></span>
    </div>
    <div class="right btn-list">
      <a class="btn btn-nav ticket"></a>
      <a data-toggle="tooltip" data-placement="top" title="Report" class="btn btn-nav report"></a>
      <a class="btn btn-nav more">{{ 'button-more' | trans }}</a>
    </div>
  </header>
  <section [style.height.px]="pageHeight" id="user-body-area">
    <div class="center-area-cont">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>
