<section id="seance-area" ng-class="{fixed: fixedPage}" class="page-style-a">
  <header class="center-area-cont">
    <div class="left">
      <span [routerLink]="['/']" class="btn btn-nav back"></span>
    </div>
    <div class="right">
      <!-- <a ng-click="template = templates[0]" class="btn btn-nav buy">Buy ticket on this movie</a> -->
      <a class="btn btn-nav more">More</a>
    </div>
  </header>
  <section id="seance-body-area" class="center-area-cont">
    <app-player></app-player>
  </section>
</section>
