<section [style.height.px]="scrollHeight" id="sidebar-navigation-section">
  <section id="profile-updates">
    <h3 class="section-title">Profile Updates</h3>
    <div class="menu-cont">
      <a>
        <span class="icon icon-menu icon-cup"></span>
        <b>Archivements</b>
      </a>
      <a>
        <span class="icon icon-menu icon-ticket"></span>
        <b>Tickets</b>
      </a>
      <a>
        <span class="icon icon-menu icon-referals"></span>
        <b>Referals</b>
      </a>
    </div>
  </section>
  <section id="other">
    <h3 class="section-title">Others</h3>
    <div class="menu-cont">
      <a [routerLink]="['/user']">
        <span class="icon icon-menu icon-profile"></span>
        <b>My Profile</b>
      </a>
      <a [routerLink]="['/user/settings']">
        <span class="icon icon-menu icon-settings"></span>
        <b>Settings</b>
      </a>
      <a (click)="logOut()">
        <span class="icon icon-menu icon-signout"></span>
        <b>Sign Out</b>
      </a>
    </div>
  </section>
  <!-- <div class="divider"></div> -->
  <!-- <section id="your-movies">
    <h3 class="section-title"> Your movies </h3>
    <div class="movies-cont">
      <div class="movie-single">
        <div class="movie-cover-cont">
          <img src="assets/images/movies/up-movie3.jpg">
        </div>
        <div class="text-cont">
          <P class="bold-text">a walk in the woods</P>
          <span class="time">starts in 20 minutes</span>
        </div>
      </div>
      <div class="movie-single">
        <div class="movie-cover-cont">
          <img src="assets/images/movies/up-movie1.jpg">
        </div>
        <div class="text-cont">
          <P class="bold-text">mad max</P>
          <span class="time">starts in 20 minutes</span>
        </div>
      </div>
      <div class="movie-single">
        <div class="movie-cover-cont">
          <img src="assets/images/movies/up-movie2.jpg">
        </div>
        <div class="text-cont">
          <P class="bold-text">the 5 wave</P>
          <span class="time">starts in 20 minutes</span>
        </div>
      </div>
      <div class="movie-single">
        <div class="movie-cover-cont">
          <img src="assets/images/movies/up-movie1.jpg">
        </div>
        <div class="text-cont">
          <P class="bold-text">batmen vs superman</P>
          <span class="time">starts in 20 minutes</span>
        </div>
      </div>
    </div>
	</section> -->
</section>
