<section id="box-office-area">
  <header class="box-office-header center-area-cont">
    <div id="first-header">
      <div class="left">
        <h2>Discover</h2>
        <div class="sort">
          <ul>
            <li ng-click="sortMovies('audience')">
              <a>Audience</a>
            </li>
            <li ng-click="sortMovies('trending')">
              <a>Trending</a>
            </li>
            <li ng-click="sortMovies('green')">
              <a>Green</a>
            </li>
            <li class="choose-mood">
              <a id="moods">Choose Moods</a>
              <div class="mood-change-cont">
                <form name="emotionsForm" ng-submit="" class="mood-icons">
                  <input type='checkbox' id="icon-scary">
                  <label for="icon-scary" class="icon-scary"></label>
                  <input type='checkbox' id="icon-cool">
                  <label for="icon-cool" class="icon-cool"></label>
                  <input type='checkbox' id="icon-happy">
                  <label for="icon-happy" class="icon-happy"></label>
                  <input type='checkbox' id="icon-excite">
                  <label for="icon-excite" class="icon-excite"></label>
                  <input type='checkbox' id="icon-evil">
                  <label for="icon-evil" class="icon-evil"></label>
                  <input type='checkbox' id="icon-angry">
                  <label for="icon-angry" class="icon-angry"></label>
                  <input class="submit-ok" value="OK" type="submit">
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <a class="search-btn"></a>
      </div>
    </div>
    <div id="search-area">
      <div class="form-style-a light">
        <div class="inp-group">
          <a class="back-home">Back to home
            <i class="icon-a close"></i>
          </a>
          <input id="search-input" class="md" placeholder="Search" name="search" type="text">
        </div>
      </div>
      <ul class="sort-of-search">
        <li>
          <a class="active">All</a>
        </li>
        <li>
          <a>Movies</a>
        </li>
        <li>
          <a>Actors</a>
        </li>
        <li>
          <a>Blurbs</a>
        </li>
        <li>
          <a>Users</a>
        </li>
        <li>
          <a>Director</a>
        </li>
      </ul>
    </div>
  </header>
  <div id="box-office" [style.height.px]="pageHeight">
    <div class="movies center-area-cont sort-{{ colls }}">
      <div *ngFor="let movie of movies; let i = index">
        <div class="movie" (click)="expandMovie(i)">
          <div class="movie-wrapper">
            <i class="movie-status" data-toggle="tooltip" data-placement="right" title="FirstDay"></i>
            <img class="poster" [src]="'assets/images/movie/'+ movie.poster">
          </div>
          <div class="hover_1 hover">
            <div class="cont">
              <span class="time right">131 min</span>
              <h3 class="hover-movie">{{ movie.title }}</h3>
              <h5 class="hover-genre">
                <span>{{ movie.genreNames.join(', ') }}</span>
              </h5>
              <ul>
                <li>
                  <span>Direcor: </span>
                  <a href="#">{{ movie.directorNames.join(', ') }}</a>
                </li>
                <li>
                  <span>Stars: </span>
                  <a href="#">{{ movie.actorNames.join(', ') }}</a>
                </li>
              </ul>
              <p class="plain-text description">
                {{ movie.story }}
              </p>
              <div class="footer blurb-style-a">
                <div class="tags">
                  <span>{{ movie.tagNames.join(', ') }}</span>
                </div>
                <div *ngIf="movie.blurbs[0]">
                  <div class="blurb-body left-bordered {{ movie.blurbs[0].color | lowercase }}">
                    <div class="plain-text">
                      <div class="warning" [innerHTML]="movie.blurbs[0].content | escapeHtml">
                      </div>
                    </div>
                  </div>
                  <div class="mojvixer right">
                    <span class="prefix">-</span>
                    <img class="profile-pic" [src]="'/assets/images/profile/profile2.jpg'">
                    <span class="mojvixer-name">{{ movie.blurbs[0].creator.vixname }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-movie #expandArea *ngIf="detectExpandArea(i+1, movies.length)"></app-movie>
      </div>
    </div>
  </div>
</section>
