<section id="blurbs" [style.height.px]="scrollHeight">
  <div *ngFor="let blurb of blurbs"  class="single-blurb-wrapper">
    <div class="number">
      <i>{{ blurb.id }}</i>
      <span class="icon icon-arrow-down"></span>
    </div>
    <div class="blurb-style-a">
      <img class="cover" *ngIf="blurb.cover" [src]="blurb.cover" src="">
      <div class="blurb-body left-bordered {{ blurb.color }}">
        <div class="plain-text">
          {{ blurb.content }}
        </div>
        <div class="info">
          <abbr>&nbsp;</abbr>
          <div class="mojvixer right">
            <span class="prefix">-</span>
            <img class="profile-pic" [src]="blurb.mojvixerPic">
            <span class="mojvixer-name">{{ blurb.mojvixerName }}</span>
          </div>
        </div>
        <div class="meta">
          <span class="agrees">{{ blurb.meta.agrees }} Agrees</span>
          <span class="disagrees">{{ blurb.meta.disagrees }} disagrees</span>
          <span class="comments">{{ blurb.meta.comments }} comments</span>
        </div>
      </div>
      <div ng-if="user.isLogged" class="blurb-footer">
        <a class="trigger-agree left">
          <span class="icon icon-nav icon-nav-agree"></span>
          <span class="text">Agree</span>
        </a>
        <a class="trigger-disagree left">
          <span class="icon icon-nav icon-nav-disagree"></span>
          <span class="text">Disagree</span>
        </a>
        <a class="trigger-blurb left">
          <span class="icon icon-nav icon-nav-blurb"></span>
          <span class="text">Blurb</span>
        </a>
        <a class="trigger-menu" left>
          <span class="icon icon-nav icon-nav-menu"></span>
        </a>
      </div>
      <div class="user-comments">
        <div *ngFor="let comment of blurb.comments" class="comment">
          <img class="profile-pic" [src]="comment.mojvixerPic">
          <div class="comment-content">
            <a href="#reblurb.vixname">
              <b>{{ comment.mojvixerName }}</b>
            </a>
            “{{ comment.content }}”
            <div class="info">
              <abbr>13 mins ago</abbr>
            </div>
          </div>
        </div>
        <a *ngIf="blurb.comments.length > 1" result-per-page="0" class="load-more">Load more Comments</a>
      </div>
      <div class="type-comment">
        <img src="assets/images/profile/profile1.jpg">
        <form name="reblurbForm">
          <textarea placeholder="Type reblurb text here" class=""></textarea>
        </form>
      </div>
    </div>
  </div>
</section>
