<section id="blurbs-list" [style.height.px]="scrollHeight">
  <h2 class="oops" *ngIf="blurbs.length < 1">No blurbs yet</h2>
  <div *ngFor="let blurb of blurbs"  class="single-blurb-wrapper">
    <!-- <div class="number">
      <i>{{ blurb.id }}</i>
      <span class="icon icon-arrow-down"></span>
    </div> -->
    <div class="blurb-style-a">
      <img class="cover" *ngIf="blurb.cover" [src]="blurb.cover" src="">
      <div class="blurb-body left-bordered {{ blurb.color | lowercase }}">
        <div class="plain-text">
          {{ blurb.content }}
        </div>
        <div class="info">
          <abbr>&nbsp;</abbr>
          <div class="mojvixer right">
            <span class="prefix">-</span>
            <img class="profile-pic" src="/assets/images/profile/profile1.jpg">
            <span class="mojvixer-name">{{ blurb.creator.vixname }}</span>
          </div>
        </div>
        <div class="meta">
          <span class="agrees">{{ blurb.totalAgree }} Agrees</span>
          <span class="disagrees">{{ blurb.totalDisagree }} disagrees</span>
          <span class="comments">{{ blurb.totalComments }} comments</span>
        </div>
      </div>
      <div ng-if="user.isLogged" class="blurb-footer">
        <a class="trigger-agree left">
          <span class="icon icon-nav icon-nav-agree"></span>
          <span class="text">Agree</span>
        </a>
        <a class="trigger-disagree left">
          <span class="icon icon-nav icon-nav-disagree"></span>
          <span class="text">Disagree</span>
        </a>
        <a class="trigger-blurb left">
          <span class="icon icon-nav icon-nav-blurb"></span>
          <span class="text">Blurb</span>
        </a>
        <!-- <a class="trigger-menu" left>
          <span class="icon icon-nav icon-nav-menu"></span>
        </a> -->
      </div>
      <app-blurb-comments [blurbId]="blurb.id" [comments]="blurb.comments"></app-blurb-comments>
    </div>
  </div>
</section>
