<div class="registered full-nav-bar">
  <!-- <a class="left user-avatar profile-cont">
    <img class="" src="assets/images/profile/profile3.jpg">
  </a> -->
  <div class="left nav-wrapper">
    <div id="profile-nav" class="right-nav">
      <div class="left-cont">
        <ng-container *ngFor="let nav of (navigationState | async).tabs">
          <a
            *ngIf="!nav.disabled"
            (click)="changeNavigationTab(nav.name)"
            [ngClass]="{'active': (navigationState | async).activeTab === nav.name}"
            class="icon icon-{{ nav.name }} nav-{{ nav.name }}">
          </a>
        </ng-container>
      </div>
    </div>
    <!-- <span class="my-vixname">myvixname</span> -->
    <!-- <div class="upcoming-movies">
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello amelie!" href="#"><img src="assets/images/movies/up-movie1.jpg"></a>
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello Amelie!" href="#"><img src="assets/images/movies/up-movie3.jpg"></a>
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello Amelie!" href="#"><img src="assets/images/movies/up-movie2.jpg"></a>
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello Amelie!" href="#"><img src="assets/images/movies/up-movie3.jpg"></a>
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello Amelie!" href="#"><img src="assets/images/movies/up-movie2.jpg"></a>
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello Amelie!" href="#"><img src="assets/images/movies/up-movie3.jpg"></a>
      <span class="upcomming-movies-button" href="#"></span>
		</div> -->
  </div>
</div>
