<div id="center-area">
  <header class="main-header center-area-cont">
    <a [routerLink]="['/']" class="logo"></a>
    <div class="right upcoming">
      <p>
        Upcoming show <span class="at">@17:00</span> in
        <span class="time">:25 <i>min</i> </span>
      </p>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
<div id="right-area">
  <header>
    Want to get more opportunities?
    <a ui-sref="mojvix.join" class="btn btn-green btn-sm">Join now</a>
  </header>
  <section id="right-content">
    <app-blurbs></app-blurbs>
  </section>
</div>
