<section id="box-office-area">
  <header class="box-office-header center-area-cont">
    <div id="first-header">
      <div class="left">
        <h2>Discover</h2>
        <div class="sort">
          <ul>
            <li ng-click="sortTitles('audience')">
              <a>Audience</a>
            </li>
            <li ng-click="sortTitles('trending')">
              <a>Trending</a>
            </li>
            <li ng-click="sortTitles('green')">
              <a>Green</a>
            </li>
            <li class="choose-mood">
              <a id="moods">Choose Moods</a>
              <div class="mood-change-cont">
                <form name="emotionsForm" ng-submit="" class="mood-icons">
                  <input type='checkbox' id="icon-scary">
                  <label for="icon-scary" class="icon-scary"></label>
                  <input type='checkbox' id="icon-cool">
                  <label for="icon-cool" class="icon-cool"></label>
                  <input type='checkbox' id="icon-happy">
                  <label for="icon-happy" class="icon-happy"></label>
                  <input type='checkbox' id="icon-excite">
                  <label for="icon-excite" class="icon-excite"></label>
                  <input type='checkbox' id="icon-evil">
                  <label for="icon-evil" class="icon-evil"></label>
                  <input type='checkbox' id="icon-angry">
                  <label for="icon-angry" class="icon-angry"></label>
                  <input class="submit-ok" value="OK" type="submit">
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <a class="search-btn"></a>
      </div>
    </div>
    <div id="search-area">
      <div class="form-style-a light">
        <div class="inp-group">
          <a class="back-home">Back to home
            <i class="icon-a close"></i>
          </a>
          <input id="search-input" class="md" placeholder="Search" name="search" type="text">
        </div>
      </div>
      <ul class="sort-of-search">
        <li>
          <a class="active">All</a>
        </li>
        <li>
          <a>Movies</a>
        </li>
        <li>
          <a>Actors</a>
        </li>
        <li>
          <a>Blarbs</a>
        </li>
        <li>
          <a>Users</a>
        </li>
        <li>
          <a>Director</a>
        </li>
      </ul>
    </div>
  </header>
  <div id="box-office" [style.height.px]="pageHeight">
    <div class="titles center-area-cont sort-{{ colls }}">
      <div *ngFor="let title of titles; let i = index">
        <div class="title" (click)="expandTitle(i)">
          <div class="title-wrapper">
            <i class="title-status" data-toggle="tooltip" data-placement="right" title="FirstDay"></i>
            <img class="poster" [src]="title.poster">
          </div>
          <div class="hover_1 hover">
            <div class="cont">
              <span class="time right">131 min</span>
              <h3 class="hover-title">{{ title.title }}</h3>
              <h5 class="hover-genre">
                <span>{{ title.genre }}</span>
              </h5>
              <ul>
                <li>
                  <span>Direcor: </span>
                  <a href="#">{{ title.director }}</a>
                </li>
                <li>
                  <span>Stars: </span>
                  <a href="#">{{ title.stars }}</a>
                </li>
              </ul>
              <p class="plain-text description">
                {{ title.story }}
              </p>
              <div class="footer blurb-style-a">
                <div class="tags">
                  <span>{{ title.tags }}</span>
                </div>
                <div class="blurb-body left-bordered {{ title.blurb.color }}">
                  <div class="plain-text">
                    <div class="warning" [innerHTML]="title.blurb.content | escapeHtml">
                    </div>
                  </div>
                </div>
                <div class="mojvixer right">
                  <span class="prefix">-</span>
                  <img class="profile-pic" [src]="title.blurb.mojvixerPic">
                  <span class="mojvixer-name">{{ title.blurb.mojvixerName }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-title #expandArea *ngIf="detectExpandArea(i+1, titles.length)"></app-title>
      </div>
    </div>
  </div>
</section>
