<section id="expanded-title" *ngIf="expanded">
  <i class="top-arrow" [style.margin-left.px]="arrowMarginLeft"></i>
  <a class="close" (click)="close()"></a>
  <div class="left-show">
    <div class="videoWrapper">
      <app-loading></app-loading>
      <youtube-player *ngIf="playerIsReady" [videoId]="title.videoSrc" (ready)="savePlayer($event)" (change)="onPlayerStateChange($event)"></youtube-player>
    </div>
  </div>
  <div class="film-overview">
    <h4>{{ title.title }}</h4>
    <div class="genre">
      <span ng-repeat="genre in title.genres">{{ title.genre }}</span>
    </div>
    <div class="tags">
      <ul>
        <li *ngFor="let hashtag of title.hashtags">
          <a href="#"> {{ hashtag }} </a>
        </li>
      </ul>
    </div>
    <div class="divider"></div>
    <ul class="meta">
      <li>
        <i class="value">{{ title.propResolution }}</i>
      </li>
      <li>
        <i class="key">Runtime:</i>
        <i class="value">{{ title.propRuntime }}</i>
        <i class="key">Min</i>
      </li>
      <li class="{{ title.propSoundQuality }}"></li>
      <li *ngIf="title.propThreeD">
        <i class="value">3D</i>
      </li>
      <li *ngIf="title.propColored">
        <i class="value">Colored</i>
      </li>
    </ul>
    <p class="story">
      {{ title.story }}
    </p>
    <div class="cast">
      <div class="own-line">
        <div class="key">Director:</div>
        <div class="value">{{ title.director }}</div>
      </div>
      <div class="own-line">
        <div class="key">Stars:</div>
        <div class="value">{{ title.stars }}</div>
      </div>
    </div>
    <a [routerLink]="['/seance/the-search']" class="attend-to-show btn btn-sky-blue">Attend To Show</a>
    <div class="bottom-meta">
      <div class="divider"></div>
      <div class="left">
        <ul class="socials">
          <li *ngFor="let social of title.socials" class="{{ social.name }}">
            <a target="_blank" [href]="social.url"></a>
          </li>
        </ul>
        <span class="copy">title.copy</span>
      </div>
      <div class="right">
        <ul class="mood-icons">
          <li *ngFor="let mood of title.moods" class="icon-{{ mood }}"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
