<section [style.height.px]="_scrollHeight" class="messages" id="sidebar-notifications">
  <h3 class="section-title">
    Notifications
  </h3>
  <div class="messages-cont">
    <div class="messages-single">
      <div class="profile-cont">
        <img src="assets/images/profile/profile1.jpg">
      </div>
      <div class="text-cont">
        <div class="plain-text">
          <span>Levan</span> Agreed your post about Landmine Goes Click</div>
        <div class="bottom-info">
          <span class="icon icon-status icon-status-agree"></span>
          <span class="time">5 minutes ago</span>
        </div>
      </div>
    </div>

    <div class="messages-single unread">
      <div class="profile-cont">
        <img src="assets/images/profile/profile2.jpg">
      </div>
      <div class="text-cont">
        <div class="plain-text">
          <span>Levan</span> Agreed your post about Landmine Goes Click</div>
        <div class="bottom-info">
          <span class="icon icon-status icon-status-agree"></span>
          <span class="time">5 minutes ago</span>
        </div>
      </div>
    </div>

    <div class="messages-single">
      <div class="profile-cont">
        <img src="assets/images/profile/profile3.jpg">
      </div>
      <div class="text-cont">
        <div class="plain-text">
          <span>Levan</span> Disagreed your post about Landmine Goes Click</div>
        <div class="bottom-info">
          <span class="icon icon-status icon-status-disagree"></span>
          <span class="time">5 minutes ago</span>
        </div>
      </div>
    </div>

    <div class="messages-single">
      <div class="profile-cont">
        <img src="assets/images/profile/profile1.jpg">
      </div>
      <div class="text-cont">
        <div class="plain-text">
          <span>Levan</span> Reblurbed your post about Landmine Goes Click</div>
        <div class="bottom-info">
          <span class="icon icon-status icon-status-reblurb"></span>
          <span class="time">5 minutes ago</span>
        </div>
      </div>
    </div>

    <div class="messages-single">
      <div class="profile-cont">
        <img src="assets/images/profile/profile2.jpg">
      </div>
      <div class="text-cont">
        <div class="plain-text">
          <span>Levan</span> Agreed your post about Landmine Goes Click</div>
        <div class="bottom-info">
          <span class="icon icon-status icon-status-agree"></span>
          <span class="time">5 minutes ago</span>
        </div>
      </div>
    </div>

    <div class="messages-single">
      <div class="profile-cont">
        <img src="assets/images/profile/profile3.jpg">
      </div>
      <div class="text-cont">
        <div class="plain-text">
          <span>Levan</span> Argueed your post about Landmine Goes Click</div>
        <div class="bottom-info">
          <span class="icon icon-status icon-status-agree"></span>
          <span class="time">5 minutes ago</span>
        </div>
      </div>
    </div>

    <div class="messages-single">
      <div class="profile-cont">
        <img src="assets/images/profile/profile3.jpg">
      </div>
      <div class="text-cont">
        <div class="plain-text">
          <span>Levan</span> Argueed your post about Landmine Goes Click</div>
        <div class="bottom-info">
          <span class="icon icon-status icon-status-agree"></span>
          <span class="time">5 minutes ago</span>
        </div>
      </div>
    </div>
  </div>
</section>
