<div class="user-comments">
  <a *ngIf="comments.length < totalComments"
    (click)="fetchMoreComments()" class="load-more">{{ 'blurb-load-more-comments' | trans }}</a>
  <div *ngFor="let comment of comments | orderBy: 'id'" class="comment">
    <img class="profile-pic" [src]="'/assets/images/profile/profile1.jpg'">
    <div class="comment-content">
      <a href="#reblurb.vixname">
        <b>{{ comment.creator.vixname }}</b>
      </a>
      “{{ comment.content }}”
      <div class="info">
        <abbr>{{ comment.createdAt | timeAgo }}</abbr>
      </div>
    </div>
  </div>
</div>
<div class="type-comment">
  <img src="/assets/images/profile/profile1.jpg">
  <div class="input-area">
    <textarea (keyup)="createComment($event)" [(ngModel)]="mComment" placeholder="Type comment" class=""></textarea>
  </div>
</div>
