<div class="user-comments">
  <div *ngFor="let comment of comments" class="comment">
    <img class="profile-pic" [src]="'/assets/images/profile/profile1.jpg'">
    <div class="comment-content">
      <a href="#reblurb.vixname">
        <!-- <b>{{ comment.creator.vixname }}</b> -->
        <b>Vixname</b>
      </a>
      “{{ comment.content }}”
      <div class="info">
        <abbr>13 mins ago</abbr>
      </div>
    </div>
  </div>
  <a *ngIf="comments.length > 1" (click)="fetchMoreComments()" class="load-more">{{ 'blurb-load-more-comments' | trans }}</a>
</div>
<div class="type-comment">
  <img src="/assets/images/profile/profile1.jpg">
  <div class="input-area">
    <textarea (keypress)="createComment($event)" [(ngModel)]="mComment" placeholder="Type comment" class=""></textarea>
  </div>
</div>
