<div class="registered">
  <a ui-sref="mojvix.profile" class="left user-avatar profile-cont">
    <img class="" src="assets/images/profile/profile3.jpg">
  </a>
  <div class="left nav-wrapper">
    <div id="profile-nav" class="right-nav">
      <div class="left-cont">
        <a (click)="changeNavigationTab('chat')" [ngClass]="{'active': navigationTab == 'chat'}"
          class="icon icon-chat"></a>
        <a (click)="changeNavigationTab('blurbs')" [ngClass]="{'active': navigationTab == 'blurbs'}" class="icon icon-blarb"></a>
        <!-- <a class="icon icon-msg"></a> -->
        <a (click)="changeNavigationTab('notifications')" [ngClass]="{'active': navigationTab == 'notifications'}" class="icon icon-notifications"></a>
      </div>
      <div class="right-cont">
        <a (click)="changeNavigationTab('navigation')" [ngClass]="{'active': navigationTab == 'navigation'}" class="icon icon-navigation"></a>
      </div>
    </div>
    <span class="my-vixname">myvixname</span>
    <!-- <div class="upcoming-movies">
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello amelie!" href="#"><img src="assets/images/movies/up-movie1.jpg"></a>
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello Amelie!" href="#"><img src="assets/images/movies/up-movie3.jpg"></a>
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello Amelie!" href="#"><img src="assets/images/movies/up-movie2.jpg"></a>
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello Amelie!" href="#"><img src="assets/images/movies/up-movie3.jpg"></a>
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello Amelie!" href="#"><img src="assets/images/movies/up-movie2.jpg"></a>
      <a class="upcoming-movie" data-toggle="tooltip" data-placement="bottom" title="Hello Amelie!" href="#"><img src="assets/images/movies/up-movie3.jpg"></a>
      <span class="upcomming-movies-button" href="#"></span>
		</div> -->
  </div>
</div>
