<section id="expanded-movie" *ngIf="expanded">
  <i class="top-arrow" [style.margin-left.px]="arrowMarginLeft"></i>
  <a class="close" (click)="onClose(true)"></a>
  <div class="left-show">
    <div class="videoWrapper">
      <app-loading></app-loading>
      <youtube-player *ngIf="playerIsReady" [videoId]="'PNhQakLdI9o'" (ready)="savePlayer($event)" (change)="onPlayerStateChange($event)"></youtube-player>
    </div>
  </div>
  <div class="film-overview">
    <h4>{{ movie.title }}</h4>
    <div class="genre">
      <span ng-repeat="genre in movie.genres">{{ movie.genreNames.join(', ') }}</span>
    </div>
    <div class="tags">
      <ul>
        <li *ngFor="let hashtag of movie.tagNames">
          <a (click)="onSetHashtagFilter(hashtag)">#{{ hashtag }} </a>
        </li>
      </ul>
    </div>
    <div class="divider"></div>
    <ul class="meta">
      <li>
        <i class="value">{{ movie.properties.resolution }}</i>
      </li>
      <li>
        <i class="key">Runtime:</i>
        <i class="value">{{ movie.properties.duration }}</i>
        <i class="key">Min</i>
      </li>
      <li class="{{ movie.properties.soundQuality }}"></li>
      <li *ngIf="movie.properties.threeD">
        <i class="value">3D</i>
      </li>
      <li *ngIf="movie.properties.colored">
        <i class="value">Colored</i>
      </li>
    </ul>
    <p class="story">
      {{ movie.story }}
    </p>
    <div class="cast">
      <div class="own-line">
        <div class="key">Director:</div>
        <div class="value">{{ movie.directorNames.join(', ') }}</div>
      </div>
      <div class="own-line">
        <div class="key">Stars:</div>
        <div class="value">{{ movie.actorNames.join(', ') }}</div>
      </div>
    </div>
    <a (click)="onAttendToShow(movie)" class="attend-to-show btn btn-sky-blue">Attend To Show</a>
    <div class="bottom-meta">
      <div class="divider"></div>
      <div class="left">
        <ul class="socials">
          <li *ngFor="let link of movie.links" class="{{ link.name }}">
            <a target="_blank" [href]="link.url"></a>
          </li>
        </ul>
        <span class="copy">movie.copy</span>
      </div>
      <div class="right">
        <ul class="mood-icons">
          <li *ngFor="let mood of movie.moods" class="icon-{{ mood }}"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
